html {
    text-size-adjust: 100%;
}
@media screen and (max-width: 991px) {
    .center-content {
        max-width: 728px;
    }
}
body {
    font-family: Arial, sans-serif;    
    font-size: 18px;
    line-height: 25px;
    color: #C5D86D;
}
section div {
    display: block;
    margin: 0;
}
h1 {
    margin-top: 0;
}
h3 {
    font-family: "Plus Jakarta Sans", sans-serif;
}
p {
    display: block;
    font-family: Arial, sans-serif;    
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 0;
    margin-bottom: 10px;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.custom-bg-nav {
    background-color: #C5D86D !important;
  }
.navbar-brand {
    color: black;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.nav-link {
    color: black;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.container {
    padding-top: 100px;
    padding-bottom: 100px;
}
.center-content {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.section-spacing {
    padding-top: 100px;
    padding-bottom: 100px;
}
.web-links:link {
    text-decoration: none;
    color:black;
}


.section-title { 
    font-family: "DM Serif Display", serif;
    font-size: 65px;
    line-height: 44px;
    font-weight: bold;
    line-height:70px;
    padding-bottom: 10px;
    
    margin-top: 20px;
    margin-bottom: 10px;
}
.dark-bg-title {
    color: #C5D86D;
}
.light-bg-title {
    color: #141B0B;
}



.section-sub {
    font-family: "Plus Jakarta Sans", sans-serif;    
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
}
.dark-bg-sub {
    color: #CCD69F;
}
.light-bg-sub {
    color: #141B0B;
}

.text {
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 25px;
}
.dark-bg-text {
    color: #CCD69F;
}
.light-bg-text {
    color: #141B0B;
}
.text-spacing {
    padding-top: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
}


.dark-bg-section {
    background-color: #141B0B;
}
#greeting {
    color: #C5D86D;
    font-family: "DM Serif Display", serif;
    font-size: 110px;
    line-height: 105px;
    font-weight: bold;
    letter-spacing: 2px;

    margin-top: 50px;
    margin-bottom: 10px;

    padding-top: 100px;
}
.taglines {
    line-height: 100px;
    margin-bottom: 20px;
}
.tagline-spacing {
    margin-top: 5px;
}
.left-intro {
    margin-left: 80px;
}
.right-intro {
    box-sizing: border-box;
    vertical-align: middle;
    max-width: 100%;
    display: inline-block;
    overflow-clip-margin: content-box;
    overflow: clip;
}
.photo {
    vertical-align: middle;
    padding-left: 60px;
    position: relative;
    bottom: 50px;
    display: inline-block;
    overflow: clip;
}

/* #headshot {
    max-width: 100%;
    max-height: 100%;
} */



.light-bg-section {
    background-color: #CCD69F;
}
.light-bg-btn {
    color: #C5D86D;
    background-color: #141B0B;
    font-size: 18px;
    font-weight: bold;

    border: 1px #171E0E;
    border-radius: 20px;
    padding: 12px;
}


.project-intro {
    padding-bottom: 30px;
}
.project-spotlight {
    background-color: #171E0E;
}
 .grid-container {
    padding-top: 0px;
    padding-bottom: 40px;
}
.card {
    height: 470px;
}
.card-body {
    background-color: #CCD69F;
    color: #171E0E;
    text-align: center;
    position: relative;
}
.spotlight-text {
    padding-top: 0px;
    padding-bottom: 50px;

}
.dark-bg-btn {
    color: #141B0B;
    font-family: Arial, sans-serif;
    background-color: #C5D86D;
    font-size: 18px;
    font-weight: bold;

    border: 1px #141B0B;
    border-radius: 20px;
    padding: 12px;
}
.card-btn {
    position: absolute;
    align-items: center;
    transform: translate(-50%);
    top: 195px;
}



.before-after {
    vertical-align: middle;
    position: relative;
    display: inline-block;
    padding-top: 25px;
    padding-bottom: 25px;
}
.proj-img {
    vertical-align: middle;
    border-style: none;
}

.img-spacing {
    padding-bottom: 0;
}

.proj-page-spacing {
    padding-top: 25px;
    padding-bottom: 30px;
}

.text-container {
    padding-top: 25px;
    padding-bottom: 0px;
}